<div style="text-align: center;">
    <h1>Login Page</h1>
</div>

<mat-card class="centr">
    <div class="cendiv">
        <form [formGroup]="loginform">
            <img class="userimg" src="../../assets/images/usrlogo.png" alt="">
            <mat-form-field class="example-full-width">
                <mat-label>Email id</mat-label>
                <input matInput formControlName="username" placeholder="Ex. pat@example.com">
                <mat-error>Email id required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password"  formControlName="Password" >
                <mat-error>Password id required</mat-error>
            </mat-form-field>
            <br><br>
            <button (click)="login()" mat-raised-button color="primary">Login</button> 
            <br> <br>
            <button (click)="register()" mat-raised-button color="primary">Register</button>
        </form>
    </div>
</mat-card>