.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
    margin: auto;
  }

  .divalign{
      padding: 15px;
  }

  mat-paginator{
    width: 100%;
    margin: auto;
  }

  .mat-elevation-z8{
    width: 90%;
    margin: auto;
  }