
<mat-card class="centr">
    <div style="text-align: center;">
        <h1>Register</h1>
    </div>
    <div class="cendiv">
        <form [formGroup]="registerform">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname">
                <mat-error>First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname">
                <mat-error>Last Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email id</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error>Email id required</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobile">
                <mat-error>Mobile number should contain only number with Minimum 10 characters</mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width"> -->
                <label class="example-radio-group lbcol">Gender</label><br>
                <mat-radio-group aria-labelledby="example-radio-group-label"
                class="example-radio-group" formControlName="gender">
                    <mat-radio-button class="example-radio-button" value="1">Male</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">Female</mat-radio-button>
                  </mat-radio-group>
            <!-- </mat-form-field> -->
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea  matInput formControlName="address"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password"  formControlName="password" >
                <mat-error>Password Minimum 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password"  formControlName="cpassword" >
                <mat-error>Password does not match</mat-error>
            </mat-form-field>
            <br><br>
            <button (click)="register()" mat-raised-button color="primary">Login</button>
        </form>
    </div>
</mat-card>
