mat-card{
    width: 40%;
    // height: 35%;
}

.cendiv{
    text-align: center;
    margin-top: 10px;
}

.centr{
    margin: auto;
    top: 10%;
}

.mat-form-field {
     display: block; 
     position: relative; 
    text-align: left;
    width: 75%;
    margin: auto;
}

.example-radio-group {
    display: flex;
    margin-left: 60px;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .lbcol{
      color: grey;
  }